@CHARSET "UTF-8";

input[type=text] { 

	border-top : none;
	border-left : none;
	border-right : none;
	border-bottom : 3px solid #0000002e;	
}

input[type=password] { 	
	border-top : none;
	border-left : none;
	border-right : none;
	border-bottom : 3px solid #0000002e;	
}
